<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.melardev.tutorialsfirebase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityRegister" />
        <activity android:name=".ActivityGoogleLogin" />
        <activity android:name=".ActivityLoginEmailPass" />
        <activity android:name=".ActivityAccount" />
        <activity android:name=".ActivityUsers" />
        <activity android:name=".ActivityUsersUI" />
        <activity android:name=".ActivityLoginFacebook" />
        <activity android:name=".ActivityFacebookUser" />
        <activity android:name=".ActivityPushServer"></activity>
        <!-- <activity android:name=".ActivityPushNotifications" /> -->


        <!--
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        -->
        <service android:name=".service.FirebaseMessageingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ActivityAds" />
        <activity android:name=".ActivityCrash" />
        <activity android:name=".ActivityVideoRewarded" />
        <activity android:name=".ActivityAnonymous" />
        <activity android:name=".ActivityDelete" />
        <activity android:name=".ActivitySort" />
        <activity android:name=".ActivityUIListAdapter" />
        <activity android:name=".ActivityGoogleLogged" />
        <activity android:name=".ActivityUpdateUser" />
        <activity android:name=".ActivityRegisterAdvanced" />
        <activity android:name=".ActivityDownloadFile" />
        <activity android:name=".ActivityDBRetriever"></activity>
    </application>

</manifest>